In [ ]:
#link https://www.politifact.com/factchecks/list/?page=84&ruling=true

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import requests
import urllib.request
import time

In [ ]:
authors = []
dates = []
statements = []
content = []
sources = []
targets = []

In [ ]:
def scrape_website(page_number):
  pgno = str(page_number)
  URL = 'https://www.politifact.com/factchecks/list/?page='+ pgno +'&ruling=true'
  webpage = requests.get(URL)
  soup = BeautifulSoup(webpage.text,'html.parser')
  #Get location
  statement_footer = soup.find_all('footer',attrs ={'class':'m-statement__footer'})
  statement_quote = soup.find_all('div',attrs={'class':'m-statement__quote'})
  statement_meta = soup.find_all('div',attrs={'class':'m-statement__meta'})
  target = soup.find_all('div',attrs={'class':'m-statement__meter'})

  for i in statement_footer:
    link1 = i.text.strip()
    name_and_date = link1.split()
    first_name = name_and_date[1]
    last_name = name_and_date[2]
    full_name = first_name+' '+last_name
    month = name_and_date[4]
    day = name_and_date[5]
    year = name_and_date[6]
    date = month + ' '+ day + ' '+year
    dates.append(date)
    authors.append(full_name)

  for i in statement_quote:
    link2 = i.find_all('a')
    statement_text = link2[0].text.strip()
    statements.append(statement_text)
    atag=i.find_all('a')[0]
    link2 = i.find_all('a')
    statement_text = link2[0].text.strip()
    URL2 = 'https://www.politifact.com' +  atag['href']
    webpage = requests.get(URL2)
    soup2 = BeautifulSoup(webpage.text)
    statement_content = soup2.find_all('article',attrs={'class':'m-textblock'})
    content.append(''.join(statement_content[0].text.strip().splitlines()))


  for i in statement_quote:
   atag=i.find_all('a')[0]   

  for i in statement_meta:
    link3 = i.find_all('a')
    source_text = link3[0].text.strip()
    sources.append(source_text)

  for i in target:
      link4 = i.find('div',attrs={'class':'c-image'}).find('img').get('alt')
      targets.append(link4)

In [ ]:
def scrape_website1(page_number):
  pgno = str(page_number)
  URL = 'https://www.politifact.com/factchecks/list/?page='+ pgno +'&ruling=true'
  webpage = requests.get(URL)
  soup = BeautifulSoup(webpage.text,'html.parser')
  #Get location
  statement_footer = soup.find_all('footer',attrs ={'class':'m-statement__footer'})
  statement_quote = soup.find_all('div',attrs={'class':'m-statement__quote'})
  statement_meta = soup.find_all('div',attrs={'class':'m-statement__meta'})
  target = soup.find_all('div',attrs={'class':'m-statement__meter'})

  for i in statement_footer:
    link1 = i.text.strip()
    name_and_date = link1.split()
    first_name = name_and_date[1]
    last_name = name_and_date[2]
    full_name = first_name+' '+last_name
    month = name_and_date[4]
    day = name_and_date[5]
    year = name_and_date[6]
    print(full_name,month,day,year)

In [ ]:
n = 15
for i in range(1,n):
  scrape_website(i)

In [ ]:
len(authors)

In [ ]:
len(statements)

3780

In [ ]:
len(sources)

3780

In [ ]:
len(dates)

3846

In [ ]:
len(targets)

3780

In [ ]:
data = pd.DataFrame(columns = ['author','statement','article','source','date','target'])
data['author'] = pd.Series(authors)
data['statement']= pd.Series(statements)
data['source']= pd.Series(sources)
data['article']=pd.Series(content)
data['date']= pd.Series(dates)
data['target']= pd.Series(targets)

data

,author,statement,article,source,date,target
0,Jill Terreri,If New York’s proposed limits on natural gas i...,Gov. Kathy Hochul’s plan to reduce natural gas...,Robert Ortt,"• February 8,",true
1,Laura Schulte,“Wisconsin is the nation’s top cranberry produ...,"Wisconsin is known as the dairy state, with fa...",Tony Evers,"February 2, 2023",true
2,Nusaiba Mizan,"""Biden drained America's Strategic Petroleum R...","U.S. Rep. Morgan Luttrell, R-Texas, has flagge...",Morgan Luttrell,"January 19, 2023",true
3,D.L. Davis,"""Historically, our spring elections (including...",Just a few months after a tumultuous November ...,Melissa Agard,"January 10, 2023",true
4,D.L. Davis,"""Latina workers make 54 cents for every dollar...","The ""Equal Pay for Equal Work"" movement dates ...",Tammy Baldwin,"December 16, 2022",true
...,...,...,...,...,...,...
955,Dan Clark,NaN,NaN,NaN,"February 1, 2018",NaN
956,Dan Clark,NaN,NaN,NaN,"February 1, 2018",NaN
957,Dan Clark,NaN,NaN,NaN,"February 1, 2018",NaN
958,Louis Jacobson,NaN,NaN,NaN,"January 30, 2018",NaN
959,Miriam Valverde,NaN,NaN,NaN,"January 26, 2018",NaN

In [ ]:
data.to_csv('New_True_News.csv')